@use "sass:map";
// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$red: hsl(14, 86%, 42%);
$green: hsl(159, 69%, 38%);
$Rose-50: hsl(20, 50%, 98%);
$Rose-100: hsl(13, 31%, 94%);
$Rose-300: hsl(14, 25%, 72%);
$Rose-400: hsl(7, 20%, 60%);
$Rose-500: hsl(12, 20%, 44%);
$Rose-900: hsl(14, 65%, 9%);

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  "Rose-50":     hsl(20, 50%, 98%),
  "Rose-100":     hsl(13, 31%, 94%),
  "Rose-300":    hsl(14, 25%, 72%),
  "Rose-400":     hsl(7, 20%, 60%),
  "Rose-500":    hsl(12, 20%, 44%),
  "Rose-900":     hsl(14, 65%, 9%),
);


// 5. Include remainder of required parts
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed



@import "../node_modules/bootstrap/scss/utilities";





@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`

// $utilities: (
// "background-color": (
//   property: background-color,
//   class: bg,
//   local-vars: (
//     "bg-opacity": 1
//   ),
//   values: map-merge(
//     $utilities-bg-colors,
//     (
//       "marca": transparent
//     )
//   )
// )
// );

@import "../node_modules/bootstrap/scss/utilities/api";

// 8. Add additional custom code here


// @debug map.set($utilities-bg-colors,#250E08);
 